# Infura API Key para la escucha de Ethereum
# Rellena esto con tu key para que funcione (e.g. 76a669b9...)
INFURA_PROJECT_ID=tu_api_key_aqui

# Configuración OSC (SuperCollider)
OSC_IP=127.0.0.1
OSC_PORT=57120
